absl-py==2.1.0
cftime==1.6.4
fluidfoam==0.2.5
h5py==3.11.0
matplotlib==3.7.1
mpi4py==3.1.4
netcdf4==1.7.1.post1
numpy==1.23.5
pandas==2.2.2
pydmd==0.4.1
requests==2.32.3
scikit-learn==1.2.2
scipy==1.14.0
sympy==1.13.1
networkx==3.3
pyyaml==6.0.2
#pytorch-triton-rocm==2.3.0
#torch==2.3.0+rocm6.0
#torchaudio==2.3.0+rocm6.0
#torchvision==0.18.0+rocm6.0
